:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42 0.4;
    --hero-background: #2E2F42 0.7;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    background-color: var(--white-background);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contacts {
    margin-left: auto;
    font-style: normal;
    display: flex;
    align-items: center;

}

.list {
    list-style: none;
}

/* logo */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    word-spacing: 0em;
    color: var(--primary-brand);
}


.logo-dark {
    color: var(--dark);
}

.logo-white {
    color: var(--light);
}

/* links */

.link {
    text-decoration: none;
}

.link:is(:hover,:focus) {
    color:var(--pressed-state);
}

/* 4 section */

.team {
    background-color: var(--light);
}

.team-item {
    background-color: var(--white-background);
}

/* headers */

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-background);
    text-align: center;
    margin-bottom: 42px;
    max-width: 496px;
}

.section-header {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--dark);
    text-align: center;
}



.top-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.footer-paragraph {
    color: var(--light);
    max-width: 264px;
}

.header-link {
    font-weight: 500;
    color: var(--dark);
}

.header-contact-link {
    color: var(--text);
}

.hero {
    background-color: var(--dark);
    padding: 188px 0;
}

.footer {
    background-color: var(--dark);
    padding: 100px 0;
}

/* buttons */

.buttons {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.hero-button {
    background-color: var(--primary-brand);
    color: var(--white-background);
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
}

.hero-button:is(:hover,:focus) {
    background-color: var(--pressed-state);
}

/* portfolio */

.project-button {
    background-color: var(--light);
    color: var(--primary-brand);

}

.project-button:is(:hover,:focus) {
    background-color: var(--pressed-state);
    color: var(--white-background);
}

.project-paragraph {
    color: var(--text);
}

/* module 3 index*/

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 24px 0;
    border-bottom: 1px solid var(--accent);
}

.skills {
    padding: 120px 0;
}

.skills-header {
    margin-bottom: 8px;
}

.wedoing {
    margin-bottom: 120px;
}

.wedoing-header {
    margin-bottom: 72px;
}

.team {
    padding: 120px 0;
}

.team-header {
    margin-bottom: 72px;
}

.team-pic {
    margin-bottom: 32px;
}

.team-header-name {
    margin-bottom: 8px;
}

.logo-footer {
    margin-bottom: 16px;
    display: inline-block;
}

/* module 3 portfolio */

.projects {
    padding: 96px 0 120px 0;
}

.projects-list-buttons {
    margin-bottom: 72px;
}

.project-button {
    border: 1px solid var(--accent);
    border-radius: 4px;
    padding: 12px 24px;
}

.header .container {
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo-header {
    margin-right: 76px;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-item {
    padding: 24px 0;
}

.header-contact-list {
    gap: 40px;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
}
